<!DOCTYPE html>
<html ng-app="shoppingCart">
<head>
    <title>Shopping Cart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body ng-controller="CartController as vm">
<div id="navbar" class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-collapse">
            <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"> Shopping Cart</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="./"> Home </a></li>
        </ul>
    </div>
</div>

<div class="panel panel-danger" ng-show="vm.errorMessage">
    <div class="panel-heading">
        <h3 class="panel-title">Atenção</h3>
    </div>
    <div class="panel-body">
        <span><i class="glyphicon glyphicon-exclamation-sign"></i> {{vm.errorMessage}}</span>
    </div>
</div>

<div class="jumbotron">
    <h3>Seu carrinho de compras</h3>
    <p>Total: {{vm.cart.amount}}</p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Produto</th>
            <th>Preço</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in vm.cart.items">
            <td>{{item.product_name}}</td>
            <td>{{item.price}}</td>
            <td>
                <button class="btn btn-default" type="button" ng-click="vm.removeProduct(item.id)">Remover</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container-fluid">
    <h2>Produtos disponíveis</h2>
    <div>
        <button class="btn btn-default" type="button" ng-click="vm.newProduct()">Novo produto</button>
    </div>

    <div class="panel panel-info" ng-show="vm.creatingProduct">
        <div class="panel-heading">
            <h3 class="panel-title">Novo produto</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="prdName">Nome</label>
                <input type="text" class="form-control" id="prdName" placeholder="Nome" ng-model="vm.newProd.name">
            </div>
            <div class="form-group">
                <label for="prdImage">Url da imagem</label>
                <input type="text" class="form-control" id="prdImage" placeholder="Url da imagem"
                       ng-model="vm.newProd.image">
            </div>
            <div class="form-group">
                <label for="prdPrice">Preço</label>
                <input type="text" class="form-control" id="prdPrice" placeholder="Preço" ng-model="vm.newProd.price">
            </div>
            <button type="button" class="btn btn-default" ng-click="vm.saveProduct()">Salvar</button>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Imagem (URL)</th>
            <th>Preço</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="product in vm.products">
            <td>{{product.name}}</td>
            <td>{{product.image}}</td>
            <td>{{product.price}}</td>
            <td>
                <div class="col-lg-6">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Quantidade..." ng-model="product.quantity">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="vm.addProduct(product.id)">Adicionar</button>
                      </span>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-resource.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="scripts/app.js"></script>
<script src="scripts/factories/CallFactory.js"></script>
<script src="scripts/controllers/CartController.js"></script>
</body>
</html>